<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <ul class="nav navbar-nav">
          <li class="navbar-link"><a href="{% url 'index'%}">DJANGO</a></li>
          <li class="navbar-link"><a href="{% url 'admin:index'%}">Admin</a></li>
          <li class="navbar-link"><a href="{% url 'basic_app:register'%}">Register</a></li>

          {% if user.is_authenticated %}
          <li class="navbar-link"><a href="{% url 'logout'%}">Logout</a></li>
          {% else %}
          <li class="navbar-link"><a href="{% url 'basic_app:user_login'%}">Login</a></li>
          {% endif %}
        </ul>
      </div>
    </nav>
  <div class="container">
  {% block body_block %}
  {% endblock %}
  </div>
  </body>
</html>
